body {
  margin-left: -25px;
}

.main__block__star {
  position: absolute;
  top: 10px;
  right: 10px;
}

.container {
  max-width: 100%;
  background-color: #fbe4ff;
}

.menu {
  background-color: #243b93;
  width: 100%;
  height: 65px;
  display: flex;
  margin-bottom: -10;
}

.menu__logo {
  width: 15%;
  margin-left: 13%;
}

.menu__logo__img {
  width: 140px;
  height: 50px;
  margin-top: 7px;
  margin-left: 15%;
}

.menu__chapter {
  width: 60%;
  display: flex;
  padding-left: 0;
}

.menu__chapter__link1,
.menu__chapter__link,
.menu__chapter__link5 {
  color: white;
  margin: auto 4%;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

.menu__chapter__link1 {
  margin-left: 0;
}

.menu__chapter__link5 {
  margin-right: 0;
}

.menu__lang {
  width: 20%;
}

.menu__lang__globe {
  width: 55px;
  height: 50px;
  margin-top: 7px;
}

.menu__lang__ua {
  width: 30px;
  height: 18px;
  margin: auto 14px;
  margin-right: 15%;
}

.menu2 {
  width: 100%;
  height: 85px;
  background-color: #bff0ff;
}

.menu2_text {
  font-size: 44px;
  color: #202846;
  margin-left: 300px;
  margin-top: 0;
  padding: 18px 0;
}

.choose_place {
  width: 100%;
  height: 57px;
  background-color: white;
  margin: 27px auto 30px;
}

.choose_place p {
  font-size: 28px;
  margin-top: 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.61);
  padding: 10px;
}

.main {
  margin: 0 auto;
}

.main__block {
  width: 66%;
  display: flex;
  height: 300px;
  background: linear-gradient(to right, #adcbd4, #00aee5);
  margin: auto auto 42px;
  position: relative;
}

.main__block__picture {
  width: 35%;
}

.picture_in {
  width: 100%;
  height: 246px;
  padding: 33px 30px 21px 52px;
}

.explain_text {
  width: 65%;
  margin-left: 6%;
}

.explain_text h1 {
  color: #353c57;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  padding-top: 14px;
  padding-bottom: 10px;
  font-size: 33px;
  color: #353c57;
}

hr {
  height: 3px;
  background-color: white;
  border: none;
  margin: 0 auto 8px 16px;
  width: 92%;
}

.text {
  width: 90%;
  height: 184px;
  background-color: #edfbff;
  padding: 10px;
  margin-left: 2%;
}

.text p {
  color: #202846;
  font-size: 22px;
  max-width: 600px;
  height: 112px;
  margin: 0;
}

.btn {
  color: white;
  background-color: #243b93;
  border: none;
  border-radius: 27px;
  padding: 9px 38px 11px;
  font-size: 24px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 15px;
  margin-right: -34px;
}

.main__block:hover path {
  fill: yellow;
}

.main__block:hover {
  background: #2cbdeb;
  box-shadow: 0px 0px 60px 4px #2cbdeb;
}

.main__block:hover .btn {
  background-color: #ef075b;
}

.arrow-div {
  width: 99px;
  height: 99px;
  border-radius: 50%;
  background-color: #300c6a3f;
  position: absolute;
  right: -63px;
  bottom: 52px;
  z-index: 1;
}

.arrow-div img {
  margin: 26px 38px;
}

.footer {
  width: 1920px;
  height: 85px;
  background: linear-gradient(90deg, #ffe601 0%, #55d6ff 100%);
  margin-top: 39px;
  margin-bottom: 50px;
}
