:root {
  --link-color: #499ffe;
  --button-color: #015fc7;
  --main-color: white;
  --main-bg-color: #001124;
}

.card {
  max-width: 1440px;
  height: 1024px;
  background-color: var(--main-bg-color);
  margin: 0 auto;
}

.card div {
  float: left;
}

.card__login_form {
  margin-top: 14%;
  margin-left: 5%;
}

.card__image {
  width: 50%;
}

.card__img__login_1 {
  width: 96%;
  margin-top: 25%;
}

.card__forms {
  width: 50%;
}

.form1 p {
  color: var(--main-color);
  font-size: 20px;
  margin: 0;
}

.form1 a {
  color: var(--link-color);
  font-size: 20px;
  text-decoration: none;
}

.login_form1__header,
.registration__form__header {
  color: var(--main-color);
  font-size: 45px;
  margin-bottom: 42px;
}

#email,
#password {
  margin-bottom: 11px;
}

.form1 input {
  width: 360px;
  height: 43px;
}

.form2__link {
  margin-top: 11px;
}

.form1__button {
  width: 180px;
  height: 43px;
  background-color: var(--button-color);
  margin-top: 11px;
  border: var(--button-color);
  font-size: 20px;
  color: var(--main-color);
  border-radius: 2px;
}

.card__image__figure {
  max-width: 392px;
  margin-top: 19%;
  margin-left: 12%;
}

.registration__form {
  margin-top: 33%;
}

.registration__form__header {
  margin-bottom: 39px;
}

.registration__form p {
  color: var(--main-color);
  font-size: 20px;
  margin: 0;
}

.registration__form input {
  margin-bottom: 11px;
  width: 360px;
  height: 43px;
}

form .registration__form__button {
  display: block;
  margin: auto;
  background-color: var(--button-color);
  border: var(--button-color);
  border-radius: 4px;
  width: 180px;
  height: 43px;
  font-size: 20px;
  color: var(--main-color);
  margin-top: 37px;
}

.page {
  max-width: 1000px;
  min-width: 700px;
  background-color: #f9f9f9;
  margin: 0 auto;
  margin-bottom: 50px;
}

.page__fields {
  margin-left: 48px;
  padding-top: 64px;
}

.page__headers__mandatory {
  font-size: 14px;
  margin-top: 79px;
  margin-bottom: 24px;
}

.page__mandatory {
  color: #d83933;
}

h4 {
  font-size: 20px;
}

table {
  width: 100%;
  margin: 0 auto;
  padding-left: 50px;
}

th {
  width: 50%;
}

table p {
  text-align: left;
  margin: 0;
}

table input {
  width: 80%;
  height: 40px;
  font-size: 16px;
  border: 1px solid rgb(198, 197, 197);
  border-radius: 4px;
  padding-left: 10px;
}

.explanation {
  margin-bottom: 8px;
  margin-top: 22px;
  color: #171717;
}

.arrow {
  background: url(../images/Vector2.png) no-repeat center right 11px;
}

.optoinal_small {
  font-size: 14px;
}

#purged {
  margin-top: 9%;
  margin-left: -0.5%;
}

.checkbox1,
.checkbox2,
.checkbox3 {
  width: 24px;
  height: 24px;
}

.checkbox2 {
  margin-top: 27px;
  accent-color: #ff00ff;
}

hr {
  width: 86%;
  border: 1px solid #d1d1d1;
  margin-left: 56px;
}

.first_hr {
  margin-top: 27px;
  margin-bottom: 32px;
}

.table2__h4,
.table3__h4,
.table4__h4 {
  margin-left: 52px;
}

.table2__unborn__child {
  width: 70%;
}

input[type="search"] {
  height: 45px;
  width: 83%;
}

.second_hr,
.third_hr {
  margin-top: 32px;
  margin-bottom: 32px;
}

.forth_hr {
  margin-top: 40px;
}

.zoom {
  background: url(../images/Vector.png) no-repeat center right 11px;
}

.input_blue {
  color: #0050d8;
}

.table_button {
  font-size: 16px;
  color: white;
  background: var(--button-color);
  padding: 9px 16px;
  border: none;
  border-radius: 4px;
  margin-top: 16px;
  margin-left: 86%;
  margin-bottom: 110px;
}
