@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500;700&family=Work+Sans:wght@500;700&display=swap");

/* font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif; */

:root {
  --main-color: #ffb742;
  --text-color: white;
  --bgrd-color: #212529;
}

html {
  font-size: 18px;
}

.page {
  background-color: var(--bgrd-color);
  max-width: 1500px;
  min-width: 900px;
  margin: 0 auto;
}

.header {
  padding: 2.4rem;
  position: relative;
  font-family: "Poppins", sans-serif;
}

.header__logo {
  position: absolute;
  left: 3.4rem;
  top: 1.2rem;
}

.nav {
  display: flex;
  margin: 0 auto;
  list-style: none;
  justify-content: space-between;
  width: 40%;
  padding: 0;
}

.nav a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-color);
}

.nav__link {
  width: 16%;
}

.nav__link:hover {
  color: var(--main-color);
}

.header__btn a {
  position: absolute;
  top: 1.6rem;
  right: 2.7rem;
  color: var(--text-color);
  background-color: var(--main-color);
  padding: 0.7rem 1.4rem;
  border-radius: 1.5rem;
  color: var(--bgrd-color);
  font-weight: 700;
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: -1px;
}

.presentation {
  width: 70%;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  margin-top: 7rem;
  font-weight: 700;
}

.presentation__hi {
  font-size: 1.8rem;
  text-align: center;
}

.presentation__hi__name {
  color: var(--main-color);
  text-decoration: underline;
}

.presentation__profession {
  font-size: 2.7rem;
  font-weight: 700;
  text-align: center;
  padding-top: 1rem;
}

.presentation__love-to-do {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  padding-top: 1.4rem;
  margin-bottom: 2.3rem;
}

.presentation__avatar img {
  display: block;
  margin: 0 auto;
}

.cards {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 7.6rem auto 12.3rem;
  font-family: "Inter", sans-serif;
}

.card {
  display: flex;
  width: 32%;
  height: 120px;
  background-color: #292b2e;
  border-radius: 10px;
  position: relative;
}

.card:hover {
  background: linear-gradient(
    94.3deg,
    #ffb742 0%,
    rgba(255, 123, 66, 0.76) 99.33%
  );
  color: #212529;
}

.cards p {
  margin: 0;
}

.card__img img {
  padding: 12px;
  background-color: var(--text-color);
  border-radius: 50%;
  margin-top: 1.6rem;
  margin-left: 1.7rem;
}

.check-mark__icon,
.group__icon {
  background-color: var(--text-color);
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  margin-top: 1.6rem;
  margin-left: 1.7rem;
}

.card__txt {
  margin: 1.5rem auto auto 3.2rem;
}

.card__txt__nb {
  font-size: 32px;
  font-weight: 700;
  color: var(--main-color);
  text-align: center;
}

.card__txt__txt {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--text-color);
  padding-top: 0.4rem;
}

.card__arrow {
  position: absolute;
  right: 1.8rem;
  top: 3rem;
  color: #b3b3b3;
}

.about-me {
  display: flex;
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}

.about__explanaition {
  max-width: 670px;
  margin: 0 auto;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.7rem;
  color: #d5d5d5;
}

.about__explanaition p {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--main-color);
  display: inline-block;
  padding: 0.6rem 1.4rem 0.4rem;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 2.8rem;
  margin-left: -4px;
  margin-bottom: 0.5rem;
}

.about-me h1 {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-color);
  line-height: 30px;
  margin-bottom: 1.7rem;
}

.about__img {
  background-image: url(../images/yellow-back.png);
  background-repeat: no-repeat;
  background-position-x: 4.2rem;
}

.about__hire-me {
  margin-top: 3rem;
}

.about__hire-me a {
  text-decoration: none;
  background-color: var(--main-color);
  color: var(--bgrd-color);
  font-size: 1.05rem;
  font-weight: 800;
  letter-spacing: -0.7px;
  padding: 0.8rem 2.3rem;
  border-radius: 2.8rem;
}

.skills {
  display: flex;
  width: 92%;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

.skills__text {
  width: 42%;
  color: var(--text-color);
  font-size: 0.9rem;
  font-weight: 200;
  line-height: 1.6rem;
}

.skills__text p {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--main-color);
  display: inline-block;
  padding: 0.6rem 1.4rem 0.4rem;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 2.8rem;
  margin-left: -4px;
  margin-bottom: 0.33rem;
}

.skills__text h1 {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.1rem;
  margin-bottom: 1.6rem;
  color: var(--text-color);
  line-height: 3.1rem;
  margin-left: 0.5rem;
}

.skills__text__txt {
  margin-left: 0.5rem;
  line-height: 1.7rem;
}

.skills__hire-me a {
  text-decoration: none;
  background-color: var(--main-color);
  color: var(--bgrd-color);
  font-size: 1.05rem;
  font-weight: 800;
  letter-spacing: -0.7px;
  padding: 0.8rem 2.3rem;
  border-radius: 2.8rem;
}

.skills__hire-me {
  margin-top: 3.5rem;
}

.skills__prog {
  margin-top: -5px;
}

.skills__prog__logos {
  margin-left: 9rem;
}

.logo-program {
  background-color: #383e45;
  padding: 1.05rem 1.2rem;
  border-radius: 0.6rem;
  margin: 0.3rem;
}

.logo-sass {
  padding: 1.38rem 1.2rem;
  background-color: #383e45;
  border-radius: 0.6rem;
  margin: 0.3rem;
}

.logo-figma {
  padding: 1.06rem 1.64rem;
  background-color: #383e45;
  border-radius: 0.6rem;
  margin: 0.3rem;
}

.logo-git {
  padding: 1.15rem 1.2rem;
  background-color: #383e45;
  border-radius: 0.6rem;
  margin: 0.3rem;
}

.works {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 7.9rem;
  font-family: "Poppins", sans-serif;
}

.works__sign-works {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--main-color);
  display: inline-block;
  padding: 0.6rem 1.4rem 0.4rem;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 2.8rem;
  margin: 7.8rem auto 0.05rem;
}

.works h1 {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  margin-bottom: 1.9rem;
  font-size: 2.7rem;
  font-weight: 700;
}

.works__links {
  margin: 0 auto;
  margin-bottom: 2.9rem;
}

.works__links a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 0.9rem;
  font-weight: 600;
  margin-right: 3.5rem;
}

.works__links a:hover {
  color: var(--bgrd-color);
  background-color: var(--main-color);
  padding: 0.28rem 1.1rem;
  border-radius: 3px;
}

.works__pictures {
  display: flex;
  width: 88%;
  justify-content: space-between;
  margin: 0 auto;
}

.works__picts img {
  margin-bottom: 1.6rem;
}

.customer {
  text-align: center;
  margin-bottom: 14rem;
}

.customer__test {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--main-color);
  display: inline-block;
  padding: 0.6rem 1.4rem 0.4rem;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 2.8rem;
  margin-bottom: 0.5rem;
}

.customer__says {
  font-family: "Roboto", sans-serif;
  font-size: 2.18rem;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 5rem;
}

.customer__cards {
  display: flex;
  width: 85%;
  justify-content: space-between;
  margin: 0 auto;
}

.customer__card {
  width: 21.05rem;
  height: 25.28rem;
  background-color: var(--text-color);
  border-radius: 0.44rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #1c1c1c;
  padding-top: 8.2rem;
  padding-bottom: 5.2rem;
}

.footer__card {
  width: 25%;
  font-family: "Work Sans", sans-serif;
  padding: 0 3rem;
}

.footer__card h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.77rem;
  font-weight: 700;
  color: var(--main-color);
}

.footer__card p {
  color: #d4d4d4;
  font-size: 0.88rem;
  font-weight: 600;
}

.footer__card h2 {
  font-size: 1.2rem;
  color: #f5fbf2;
  font-weight: 700;
}

.footer__card a {
  text-decoration: none;
  color: #7b7b7b;
  font-size: 1rem;
  font-weight: 500;
  line-height: 2rem;
}

.footer__card a:hover {
  color: var(--main-color);
}

.footer__card__media {
  color: #7b7b7b;
  font-weight: 500;
}
