.page {
  margin: 50px;
  max-width: 1440px;
  background-color: rgb(246, 250, 253);
}

p.head__header {
  color: #e8c23e;
  font-size: 48px;
  text-align: center;
  margin: 0;
  padding: 20px 30px 30px;
}

.head__blue {
  color: #3e45e8;
}

.block__img1 {
  width: 100%;
  background-image: url(../images/Rectangle\ 10.png),
    url(../images/oboyi-ukrayina.png);
  background-repeat: no-repeat;
  height: 768px;
}

.block__text {
  display: inline-block;
  max-width: 1036px;
  height: 304px;
  font-size: 48px;
  margin-left: 91px;
  margin-top: 235px;
  line-height: 1.5;
  color: white;
  font-weight: bold;
  padding-left: 30px;
  border-left: 20px solid;
  border-image: linear-gradient(#00e0ff, #1400ff 50%, #ffa800, #fff950 50%) 1;
}

.places__ukr {
  display: inline-block;
  font-size: 48px;
  font-weight: bold;
  margin: 48px auto 0;
  margin-left: 9%;
}

hr {
  width: 80%;
  height: 10px;
  margin-left: 0;
  margin-bottom: 40px;
  border: none;
  background-image: linear-gradient(
    to right,
    #00e0ff,
    #1400ff 50%,
    #ffa800 50%,
    #fdfdee
  );
}

.cards {
  /* min-width: 992; */
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  display: inline-block;
  width: 30%;
  border: 5px solid #0d095f;
  border-radius: 33px;
  min-height: 481px;
  vertical-align: top;
  box-shadow: -10px 25px 20px 0 rgb(189, 237, 252);
}

.card-margine {
  margin: 0 3%;
  box-shadow: 0px 20px 20px 5px rgb(189, 237, 252);
}

.card-shadow {
  box-shadow: 10px 20px 20px 5px rgb(189, 237, 252);
}

.card__title {
  color: #0072db;
  font-size: 24px;
  font-weight: bold;
  margin: 13px 0 0 13px;
}

.card__img > img {
  width: 100.5%;
  min-height: 302px;
}

.card__description {
  margin: 16px 0 0 13px;
  color: #ff9900;
  font-size: 20px;
}

.header3 {
  max-width: 710px;
  font-size: 48px;
  font-weight: bold;
  margin-top: 45px;
  margin-left: 24%;
  margin-bottom: 30px;
  border-bottom: 7px solid blue;
}

.ukr__map {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.button {
  /* margin-top: 23px; */
  margin-top: 1.4em;
  text-align: center;
}

.button__go {
  /* padding: 10px 200px; */
  
  padding: 0.1em 2.7em;
  border-radius: 50px;
  text-decoration: none;
  background-color: #2a61f0;
  font-size: 62px;
  font-weight: bold;
  color: white;
  border: none;
  width: 30%;
}

.footer {
  background-color: #0d0661;
  margin-top: 36px;
}

p.footer__header {
  color: #e8c23e;
  font-size: 48px;
  text-align: center;
  padding-top: 14px;
  letter-spacing: 6px;
}

.footer__blue {
  color: #3e45e8;
  letter-spacing: 6px;
}

.footer__mail {
  text-align: center;
  margin-top: -42px;
}

.link__mail {
  color: #a89d9d;
  text-decoration: none;
  font-size: 26px;
  letter-spacing: 5px;
}

.footer__tel {
  text-align: center;
  margin-top: 6px;
}

.tel {
  color: #a89d9d;
  font-weight: 400;
  text-decoration: none;
  font-size: 32px;
  letter-spacing: 5px;
}

.links {
  text-align: center;
}

.fa-brands {
  color: #a89d9d;
  font-size: 34px;
}

.fa-facebook {
  margin: 7px 28px 30px;
}

.fa-youtube {
  font-size: 38px;
}
