.card {
  width: 404px;
  height: 490px;
  background-color: black;
  margin: 50px auto 0;
}

.first_img {
  display: block;
  margin: 0 auto;
  padding-top: 20px;
}

.second_img {
  display: flex;
  margin: -100px auto;
}

.text {
  color: white;
  text-align: center;
  margin-top: 150px;
  font-size: 33px;
  font-weight: bold;
  letter-spacing: 12px;
  margin-bottom: 60px;
}

.login {
  color: white;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 19px;
  letter-spacing: 2px;
  display: inline-block;
  border: 3px solid white;
  margin-bottom: 25px;
  margin-left: 50px;
  padding: 10px 110px;
}

.sign {
  color: white;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 19px;
  display: inline-block;
  letter-spacing: 2px;
  border: 3px solid white;
  margin-left: 51px;
  padding: 10px 105px;
}
